@model RoomDetails //only one row
@{
}
<div class="container" dir="rtl">
    <div class="alert alert-success">تعديل بيانات تفاصيل الغرفة</div>
    <form asp-action="UpdateRoomDetails" method="post">
        <input type="hidden" asp-for="@Model.Id" />
        <div class="row">
            <div class="col">
                <label for="Features" class="p-2">المواصفات</label>
                <input type="text" id="Features" name="Features" class="form-control form-control-sm" asp-for="@Model.Features" />
                <span class="text-danger" asp-validation-for="Features"></span>

            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <label for="Food" class="p-2"> الطعام </label>
                <input type="text" id="Food" name="Food" class="form-control form-control-sm" asp-for="@Model.Food" />
                <span class="text-danger" asp-validation-for="Food"></span>

            </div>
            <div class="row">
                <div class="col">
                    <label for="Image1" class="p-2"> صورة1 </label>
                    <input type="text" id="Image1" name="Images" class="form-control form-control-sm" asp-for="@Model.Image1" />
                    <span class="text-danger" asp-validation-for="Image1"></span>
                </div>

            </div>
            <div class="row">
                <div class="col">
                    <label for="Image2" class="p-2"> صورة2 </label>
                    <input type="text" id="Image2" name="Image2" class="form-control form-control-sm" asp-for="@Model.Image2" />
                    <span class="text-danger" asp-validation-for="Image2"></span>
                </div>

            </div>
            <div class="row">
                <div class="col">
                    <label for="Image3" class="p-2"> صورة3 </label>
                    <input type="text" id="Image3" name="Image3" class="form-control form-control-sm" asp-for="@Model.Image3" />
                    <span class="text-danger" asp-validation-for="Image3"></span>
                </div>

            </div>

            <div class="row mt-3">
                <div class="col text-center">

                    <button class="btn btn-success" type="submit">حفظ</button>


                </div>

            </div>
    </form>

</div>